html { box-sizing: border-box;}
*, *:before, *:after { box-sizing: inherit;}
body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0rem 0rem 0rem 0rem;
}
@font-face {
    font-family: "myFirstFont";
    src: url("./FontsFree-Net-Gilroy-ExtraBold.ttf");
}
.header {
    font-size: large;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: .1rem solid black;
    margin: 0rem 0rem 1rem 0rem;
    font-family: "myFirstFont" ;
}
.content{
    margin-left: 2rem;
    margin-right: 2rem;
}
.compartment {
    border-style: solid;
    border-radius: .5rem;
    
}
.compartment h2{
    margin-top: .25rem;
    margin-left: .4rem;
    margin-bottom: .25rem;
}
.taskName{
    margin: 0rem 0rem 0rem 0rem;
}
.task {
    margin-top: 1rem;
    margin-left: .5rem;
    margin-bottom: 1rem;
}
.wrapper {
    display: grid;
    transition: grid-template-rows 0.25s ease-out;
  }
.taskDesc {
    margin: 0rem 0rem 0rem 0rem;
    overflow: hidden;
}
.taskList {
    overflow: hidden;
    margin: 0rem 0rem 0rem 0rem;
}
.descForm {
    width: 100%;
}
.input:focus{
    outline: none;
}
.taskInfo{
    margin-left: .25rem;
    display: inline-flex;
    flex-direction: column;
}

.taskForm {
    background-color: #80D4CA;
    border-radius: .5rem;
}
.compartForm {
    background-color: #FFAB40;
    border-radius: .5rem;
}
.module {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}